<%= form_with(model: user_post) do |form| %>
  <% if user_post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user_post.errors.count, "error") %> prohibited this user_post from being saved:</h2>

      <ul>
        <% user_post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form">
    <div class="field">
      <%= form.label :profile %>
      <%= form.text_field :profile_id, class: "form-control" %>
    </div>
    <div class="field">
      <%= form.label :writtenText %>
      <%= form.text_field :written_text, class: "form-control" %>
    </div>
    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title, class: "form-control" %>
    </div>
    <div>
      <%= form.submit class: "btn btn-primary w-100 py-2" %>
    </div>
  </div>
<% end %>
