<p style="color: green"><%= notice %></p>

<%= render @user_post %>

<div>
  <%= link_to "Edit this user post", edit_user_post_path(@user_post) %> |
  <%= link_to "Back to user posts", user_posts_path %>

  <%= button_to "Destroy this user post", @user_post, method: :delete %>
</div>
