<div id="<%= dom_id user %>">
  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= user.password %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= user.country %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= user.date_of_birth %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Surname:</strong>
    <%= user.surname %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= user.photo %>
  </p>

</div>
